<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <br> <br> <br>
        <hr class="primary">    
          <h2>Forgot your password?</h2>
        <hr class="primary">
    </div>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="col-lg-8 col-lg-offset-2 text-center">
          	<form class="contact-form row">

			  <div class="col-md-4 col-md-offset-4">
            	<label></label>
			    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
			  </div>

			  <div class="col-md-4 col-md-offset-4 text-center">
			  	<br />
            	<label>reset password instructions</label>
            	<%= f.submit "Send me", class: 'btn btn-primary btn-block btn-lg' %>
			  </div>

				<% end %>

				<div class="col-md-4 col-md-offset-4">
					<br />
					<%= render "devise/shared/links" %>
				</div>

			</form>
   		</div>
  </div>
</div>
