<!DOCTYPE html>
<html>
  <head>
    <title>BSPage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	  <nav id="topNav" class="navbar navbar-default navbar-fixed-top affix">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="/"><b>Start</b></a>
	            </div>
	            <div class="navbar-collapse collapse" id="bs-navbar">
	                <ul class="nav navbar-nav">
	                    <li>
	                         <a href="/contacts">Contacts</a>
	                    </li>
	                    <li>
	                    	<a href="/about">About</a>
	                    </li>
	               
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>

								<li>
								<%= link_to 'Edit profile', edit_user_registration_path %>
								</li>
								
								<li>
								<%=link_to 'Sign Out', destroy_user_session_path, method: :delete %>
								</li>
							</ul>
							
						<% else %>

							<li>
							<%= link_to 'Sign up', new_user_registration_path %>
							</li>  
							<li>
							<%= link_to 'Log In', new_user_session_path %>
							</li>
						<% end %>
	                </ul>
	            </div>
	        </div>
	    </nav>

	    <div class ='deer'>

	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	        <%= yield %>
	    </div>


<footer id="footer">
        <div class="container-fluid">
            <span class="pull-right text-muted small">©2017 <a href="/">kisimov.ru</a></span>
        </div>
    </footer>


  </body>
</html>
